.header {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 70px;
	background-color: black;
	color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	.logo {
		z-index: 999;
		margin-left: 8%;
	}
	.menu {
		position: relative;
    	perspective: 600px;
		margin-left: 10%;
		.dropdown-bg {
			width: 100px;
		    height: 1px;
		    position: absolute;
		    top: 70px;
		    background: #ffffff;
		    transition: all 0.3s, opacity 0.1s, transform 0.2s;
		    transform-origin: 50% 0;
		    display: none;
		    opacity: 0;

		    span.arrow {
		    	position: absolute;
		    	top: -8px;
		    	margin-left: 10%;
			    width: 15px;
			    height: 15px;
			    display: block;
			    background: white;
			    transform: rotate(45deg);
		    }
		}
		.dropdown-bg.open {
		    opacity: 1;
		    display: block;
		}
	}
	ul.first-level {
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 60px;
		justify-content: space-between;

		li {
			margin-top: 25px;
			position: relative;
			
			a {
				color: #a4a4a4;
				text-transform: uppercase;
				line-height: 25px;
				font-size: 16px;
				margin: 0px 15px;
				&:hover {
					color: #ffff;
				}
				&.current {
					color: #ffff;
				}
			}
			ul.dropdown {
				color: black;
				background-color: #ffffff;
				opacity: 0;
   				position: absolute;
    			overflow: hidden;
    			top: 0px;
    			transition: all 0.5s;
    			transform: translateY(45px);
    			will-change: opacity;
    			display: none;
    			padding: 10px;
    			li {
    				display: block;
    				padding: 10px 10px 0px;
    				margin: 0;
    				position: static;
    			}
			}
			ul.services {
				width: 110px;
			}
			ul.works {
				width: 235px;
			}
		}
		li.has-children.trigger-enter {
			ul.dropdown {
	    		display: block;
			}
		}
		li.has-children.trigger-enter-active {
			ul.dropdown {
				opacity: 1;
			}
		}
	}
}
@media only screen and (min-width: 1200px) {
	.header {
		.logo {

		}
	}
}