.header {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 70px;
	background-color: black;
	color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	.logo {
		z-index: 999;
		margin-left: 8%;
	}
	.menu {
		position: relative;
    	perspective: 600px;
		margin-left: 10%;
		.dropdown-bg {
			width: 100px;
		    height: 1px;
		    position: absolute;
		    top: 70px;
		    background: #ffffff;
		    transition: all 0.3s, opacity 0.1s, transform 0.2s;
		    transform-origin: 50% 0;
		    display: none;
		    opacity: 0;

		    span.arrow {
		    	position: absolute;
		    	top: -8px;
		    	margin-left: 10%;
			    width: 15px;
			    height: 15px;
			    display: block;
			    background: white;
			    transform: rotate(45deg);
		    }
		}
		.dropdown-bg.open {
		    opacity: 1;
		    display: block;
		}
	}
	ul.first-level {
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 60px;
		justify-content: space-between;

		li {
			margin-top: 25px;
			position: relative;
			
			a {
				color: #a4a4a4;
				text-transform: uppercase;
				line-height: 25px;
				font-size: 16px;
				margin: 0px 15px;
				&:hover {
					color: #ffff;
				}
				&.current {
					color: #ffff;
				}
			}
			ul.dropdown {
				color: black;
				background-color: #ffffff;
				opacity: 0;
   				position: absolute;
    			overflow: hidden;
    			top: 0px;
    			transition: all 0.5s;
    			transform: translateY(45px);
    			will-change: opacity;
    			display: none;
    			padding: 10px;
    			li {
    				display: block;
    				padding: 10px 10px 0px;
    				margin: 0;
    				position: static;
    			}
			}
			ul.about {
				width: 150px;
			}
			ul.services {
				width: 110px;
			}
			ul.works {
				width: 235px;
			}
		}
		li.has-children.trigger-enter {
			ul.dropdown {
	    		display: block;
			}
		}
		li.has-children.trigger-enter-active {
			ul.dropdown {
				opacity: 1;
			}
		}
	}
}

// MOBILE HEADER
.mobile-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	max-height: 65px;
	font-family: 'Raleway', sans-serif;
	.mobile-header-top {
		overflow: hidden;
	    position: relative;
	    padding: 0px;
	    transition: all .8s ease-in-out;
		a.logo {
			margin-left: 15px;
			img {
				max-width: 90px;
			}
		}
		a.nav-toggle {
			float: right;
			height: 20px;
			margin-right: 15px;
			margin-top: 17px;
			button.hamburger {
				width: 25px;
				height: 20px;
				display: block;
			    position: relative;
			    overflow: hidden;
			    margin: 0;
			    padding: 0;
			    font-size: 0;
			    text-indent: -9999px;
			    appearance: none;
			    box-shadow: none;
			    border: none !important;
			    border-radius: 0px;
			    cursor: pointer;
			    background: transparent;

			    span {
			    	display: block;
    				position: absolute;
    				top: 50%;
				    -webkit-transform: translate3d(0, -50%, 0);
				    -moz-transform: translate3d(0, -50%, 0);
				    -ms-transform: translate3d(0, -50%, 0);
				    -o-transform: translate3d(0, -50%, 0);
				    transform: translate3d(0, -50%, 0);
				    left: 0px;
				    right: 0px;
				    height: 2px;
				    background: #fff;
			    	&::before, &::after {
			    		content: "";
			    		position: absolute;
			    		display: block;
			    		left: 0;
			    		width: 100%;
			    		height: 2px;
						background: #fff;
			    	}
			    	&::before {
			    		top: -7px;
			    	}
			    	&::after {
			    		top: 7px;
			    	}
			    }
			}
		}
	}
	.mobile-content {
		position: fixed;
		right: 0;
		overflow-x: hidden;
		width: 100%;
	    overflow-y: hidden;
	    min-width: 100%;
	    height: 0vh;
	    background-color: #80001c;
	    background-image: linear-gradient(0deg, #80001c 0%, rgba(4,4,20,0.5) 98%);
		text-align: center;
	    z-index: -100;
	    float: right;
	    transition: all .8s ease-in-out;

	    .menu {
			ul {
				list-style: none;
				margin-top: 70px;
				 a {
				 	color: #ffff;
				 }
				 li {
				 	margin-top: 15px;
				 }
			}
	    }
	}
}

body.nav-open {
	.mobile-header {
		.mobile-header-top {
			background-color: #0d0d0d;
			transition: all .8s ease-in-out;
		}
		.mobile-content {
			z-index: 950;
			overflow-y: scroll;
			height: 100%;
			transition: all .8s ease-in-out;
		}
	}
}

// MEDIA QUERRIES
@media  only screen and (max-width: 991px) {
	.mobile-hidden {
	    display: none !important;
	}
}
@media  only screen and (min-width: 991px) {
	.mobile-visible {
	    display: none !important;
	}
}