 //Libraries
 $slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
 $slick-font-family: "slick" !default;
 $slick-loader-path: "/node_modules/slick-carousel/slick-carousel/slick/" !default;
 $slick-arrow-color: black !default; 
 @import '../../node_modules/slick-carousel/slick/slick.scss'; 
 @import '../../node_modules/slick-carousel/slick/slick-theme.scss';
 
 //SECTIONS
 @import 'header.scss';
 @import 'page-hero.scss';

body {
	margin: 0;
	overflow-x: hidden;
	ul  {
		padding: 0;
		margin: 0;
	}
	a {
		text-decoration: none;
		cursor: pointer;
		outline: none;
	}
	img {
		max-width: 100%;
	}
}


@media only screen and (min-width: 1200px) {
	
}
