section.page-hero {

	.hero-title, .hero-desc {
		position: absolute;
		left: 50%;
		color: #fff;
	}
	.hero-title {
		top: 22%;
		margin-left: -68px;
		font-size: 22px;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;
		span {
			color: #ff0036;
		}
	}
	.hero-desc {
		top: 30%;
		margin-left: -145px;
		width: 290px;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}
	.slider {

		.single-slide {
			max-width: 100%;
			img {
				max-width: 270%;
				min-width: 270%;
				margin-left: -80%;
			}
		}
		.slick-arrow {
			z-index: 999;
			position: absolute;
			top: 50%;
			display: block;
		}
		.slick-prev {
			left: 10%;
			&:before {
				content: '';
				width: 20px;
				height: 20px;
				background: url('/img/arrow-left.png');
			}
		}
		.slick-next {
			right: 10%;
		}
		
	}
}

@media only screen and (min-width: 768px) {
	section.page-hero {
		.hero-desc {
			width: 80%;
			margin-left: -307px;
		}
		.slider {
			.single-slide {
				img {
					max-width: 100%;
					min-width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}
@media only screen and (min-width: 992px) {
	section.page-hero {
		.hero-title {
			font-size: 30px;
			margin-left: -102px;
			top: 40%;
		}
		.hero-desc {
			width: 792px;
			margin-left: -396px;
			top: 50%;
		}
	}
}
@media only screen and (min-width: 1200px) {
	section.page-hero {
		.hero-title {
			top: 50%;
			font-size: 30px;
		}
		.hero-desc {
			top: 60%;
		}
		.slider {
			
		}
	}
}